@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.text-center {
  text-align: center;
}

.text-error {
  color: red;
}
