@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

form {
  padding: 2em;
  min-width: 20vw;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-error {
  color: red;
}

.button {
  margin-right: 1em;
}

.default-margins {
  margin: 1em 0 !important;
}

.bg_waiting {
  background: rgba(255, 0, 0, 0.25);
}

.bg_confirmed {
  background: rgba(0, 128, 0, 0.25);
}

.tr_active {
}

.tr_inactive {
  background: rgba(0, 0, 0, 0.1);
}
